.container-app {
  width: 1280px;
  margin: 0 auto;
  background-color: #F2ECEA;
  padding: 0px 60px;
}

.container-Tabs {
  background: #ffffff;
  padding-top: 50px;
  color: #262A33;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;


}

ul.nav {
  margin: 0px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

ul.nav li {
  width: 100%;
  padding: 20px;
  list-style: none;
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  opacity: 0.4;
  font-size: 24px;
}

ul.nav li:first-child {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

ul.nav li:last-child {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

ul.nav li.active {
  background: #262A33;
  color: #ffffff;
  opacity: 1;
  padding: 30px;

}

.TabContent {
  font-size: 14px;
  height: 260px;
  background-color: #262A33;
  padding: 30px;
  color: #ffffff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.container-text {
  display: flex;
  align-items: center;
  text-align: start;
  align-content: center;
  padding: 30px 15px 30px 15px;
}

.text-right {
  width: fit-content;
  margin: 0px 0px 0px 0px;
  line-height: 22px;
  display: flex;
  flex-direction: column;

}

.text-left {
  width: fit-content;
  margin: 0px 40px 0px 0px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
}

.text-inside {
  padding: 05px 30px;

}