.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 60px 60px 60px;
  background-color: #262A33;
  display: grid;
  grid-gap: 0px 30px;

}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 1280px;
  padding-left: 10px;
  grid-gap: 0px 20px;

}

.carousel::-webkit-scrollbar {
  display: none;
}