.inputDataTexterror {
  padding: 10px;
  border-width: 2px;
  border-radius: 25px;
  border-style: solid;
  border-color: #d9d9d9;
  width: 92%;
  box-sizing: border-box;
}

.inputDataText::placeholder {
  padding-left: 10px;
}

.inputwrapper {
  position: relative;
}

.inputwrapper::after {
  content: attr(data-required);
  position: absolute;
  right: 70px;
  top: 50%;
  font-size: 15px;
  transform: translateY(-50%);
  color: #ccc;
}