.nav-links {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #262A33;

}

.nav-links:hover {
  background-color: #262A33;
  border-radius: 2px;
  border-bottom: #85BC23 solid 3px;
  padding: 14px 14px;
  padding-bottom: 30px;
  color: #ffffff;
}

.nav-links:visited {
  background-color: #262A33;

}

.nav-linksPage {
  text-decoration: none;
  padding: 0.5rem 1rem;

}

.nav-linksPage:visited {
  color: #262A33;
}

.nav-linksState {
  text-decoration: none;
  padding: 0.5rem 1rem;
  opacity: 0.5;
}

.nav-linksState:visited {
  color: #262A33;

}