.container-footer {
  width: 1280px;
  margin: 0 auto;
  height: 350px;
  display: flex;

  flex-direction: row;
  padding: 48px 40px;
}

.footer-link {
  width: 200px;
  display: flex;
  text-align: start;
  color: black;

  font-size: 12px;
  align-items: flex-start;
  color: #999999;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 12px;
}

ul {
  list-style-type: none;
}

.title-list {
  padding: 0px 16px 16px 10px;
  font-weight: bold;
}

.void {
  padding: 0px 16px 16px 10px;
  color: #ffffff;
}

.icons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.info {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 270px;
}